.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.slate{
    background-color: slateblue;
}
.bold{
    font-weight: bold;
}
.green{
    background-color: aquamarine;
}